.search-bar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.search-bar span,
.search-bar input,
.search-bar input:focus,
.search-bar input::placeholder {
    border: none;
    padding: 4px;
    box-shadow: none;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);

    transition: all 150ms linear;
}

.search-bar,
.search-bar span,
.search-bar input {
    border-radius: 50px;
}

.search-bar input:focus {
    padding: 7px;
}