.blog-post-form, .blog-post-form:focus {
    border: none;
    outline: none;
    color: var(--text-primary);
    background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    opacity: 1;
}

.blog-post-form.number {
    width: 55px;
}

.blog-post-form.textarea {
    resize: none;
    height: 50vh;
}

@media (min-width: 1440px) {
    .blog-post-form.textarea {
        width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 2560px) {
    .blog-post-form.textarea {
        width: 50%;
    }
}