.logo-container {
    width: 40px;
    height: 40px;
    transform: scale(0.85);
}

.nav-logo {
    border-radius: 50%;
    box-shadow: -3px -2px 5px rgba(0, 0, 0, 0.8);
}

.brand-logo {
    text-decoration: none;
    color: var(--text-primary);
}

.brand-logo h2 {
    font-weight: 900;
    letter-spacing: -1px;
}