.loading-spinner-container {
    overflow: hidden;
    position: relative;
    color: var(--text-primary);
}

.loading-spinner {
    position: absolute;
    left: 0;
}

.loading-spinner.one {
    animation: rolling 2500ms linear infinite;
}

.loading-spinner.two {
    animation: rolling 1500ms linear infinite;
}

@keyframes rolling {
    0% {
        transform: translateX(-45px) rotate(0);
    }
    100% {
        transform: translateX(400px) rotate(1080deg);
    }
}