@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-primary: #212529;
    --bg-secondary: #ced4da;
    --text-primary: #f8f9fa;
    --text-secondary: #222222;
}

body {
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary);
}